@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

.htmx-indicator {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.htmx-indicator.htmx-request {
    opacity: 1;
}

.htmx-request .htmx-indicator {
    opacity: 1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}
